.textoBien{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 9px;
    backdrop-filter:blur(3px);
    font-weight: bold;
    font-Size: 7vw;
    min-height: 3vh;
    min-width: 3vw;
    color: white;
    position: absolute;
    top: 40vh;
    left: 22vw;
    transform: translate(-50%, -50%); 
}

.contenedorPantalla {
    position: relative;
    width: 100%;
    height: calc(100vh - 20vh);
}
  
.fondoPantalla {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 20vh);
    object-fit: cover;
    object-position: center 90%;
}